.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-grey-dark-1;
  font-size: 1.6rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: $color-white;
  border-radius: 50rem;
}
